@model Product
@{
    ViewData["Title"] = "Product Details";
}
<style>
    .actions-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .out-of-stock {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: not-allowed;
        width: 100%;
        text-align: center;
    }
</style>

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="home-text">@Model.Category.CategoryName</a>
    <a>/</a>
    <a class="page-text">@Model.ProductName</a>
</div>
<section class="product-details">
    <div class="product-main-image-container">
        <img src='~/img/product-@Model.ProductImage' />
    </div>
    <div class="product-info">
        <h3>@Model.ProductName</h3>
        <div class="rate-text">
            <div class="stars-container">
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg" />
            </div>
            <p>(150 reviews)</p>
            <p>|</p>
            @if (Model.Stock == 0)
            {
                <p class="stock-text" style="color:red">Out of stock</p>
            }
            else
            {
                <p class="stock-text" style="color:limegreen">@Model.Stock In stock</p>
            }
        </div>
        <h5>$@Model.ProductPrice MX</h5>
        <p class="details-text">@Model.ProductDescription</p>
        <div id="" class="actions-container">
            @if(Model.Stock != 0)
            {
                <form action="@Url.Action("AddProductDetails")" method="post">
                    <div class="cart-quantity-container">
                        <input type="number" value="1" name="quantity" class="cart-quantity" min="1"
                            max="@Model.Stock" />
                        <button type="submit" class="cart-buttons">
                            Add To Cart
                        </button>
                    </div>
                    <input type="hidden" name="id" value="@Model.IdProduct" />
                </form>
            }
            else{
                <button class="out-of-stock" style="background-color: red; cursor: not-allowed;">
                    Out of stock
                </button>
            }
        </div>
        <div class="shipping-details">
            <div class="delivery-details">
                <div class="shipping-image-container">
                    <img src="~/img/icon-delivery.svg" />
                </div>
                <div class="text-shipping-container">
                    <h5>Free Delivery</h5>
                    <p>Enter your postal code for Delivery Availability</p </div>
                </div>
            </div>
            <div class="return-details">
                <div class="shipping-image-container">
                    <img src="~/img/icon-return.svg" />
                </div>
                <div class="text-shipping-container">
                    <h5>Return Delivery</h5>
                    <p>Free 30 Days Delivery Returns. Details</p </div>
                </div>
            </div>
</section>
