@model Tienda_Online.GoToShippingVM

@{
    ViewData["Title"] = "Cart";
}

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Cart</a>
</div>
@if (Model.Cart.Items.Count == 0)
{
    <div class="no-products-in-cart-container">
        <img src="~/img/cart.svg" />
        <h2>Tú carrito parece estar vacío</h2>
        <h5>Agregue productos a su carrito</h5>
        <a href="/" class="global-button">
            Return to shop
        </a>
    </div>
}
else
{
    <div class="cart-container">
        <div class="cart-product-container">
            <h1>Product</h1>
        </div>
        <div class="cart-price-container">
            <h1>Quantity</h1>
        </div>
        <div class="cart-quantity-container">
            <h1>Price</h1>
        </div>
        <div class="cart-total-container">
            <h1>Total</h1>
        </div>
    </div>
    <div id="cart-items">
        @foreach (var item in Model.Cart.Items)
        {
            var subtotal = item.Quantity * item.ProductPrice;
            <div class="cart-container">
                <div class="cart-product-image">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.ProductID" class="cart-image">
                        <img src="~/img/product-@item.ProductImage" />
                    </a>
                    <h5 class="cart-product-name">@item.ProductName</h5>
                </div>
                <form asp-controller="Cart" asp-action="RemoveItem" method="post" class="delete-button">
                    <input type="hidden" name="id" value="@item.ProductID" />
                    <button type="submit">
                        <img src="~/img/delete.svg" />
                    </button>
                </form>
                <form asp-controller="Cart" asp-action="ReloadQuantity" method="post">
                    <div class="cart-quantity-container">
                        <input type="number" value="@item.Quantity" name="quantity" class="cart-quantity" min="1"
                            max="@item.Product.Stock" />
                        <button type="submit" class="cart-buttons">
                            <img src="~/img/reload.svg" />
                        </button>
                    </div>
                    <input type="hidden" name="id" value="@item.ProductID" />
                </form>
                <div>
                    <h1 class="price">@item.ProductPrice.ToString("C")</h1>
                </div>
                <div>
                    <h1 class="price">@subtotal.ToString("C")</h1>
                </div>
            </div>
        }

    </div>
    <div class="cart-footer">
        <div class="cart-button-section">
            <a href="/" class="second-button">
                Return To Shop
            </a>
            <form asp-controller="Cart" asp-action="DeleteCart" method="post">
                <button type="submit" class="second-button">Remove Cart</button>
            </form>
        </div>
        <div class="cart-total-section">
            <h6>Cart total</h6>
            <div class="total-list">
                <p>Subtotal:</p>
                <p id="subtotal">@Model.Cart.Total.ToString("C") MX</p>
            </div>
            <div class="total-list">
                <p>Shipping:</p>
                <p>FREE</p>
            </div>
            <div class="total-list">
                <p>Total:</p>
                <p id="total">$@Model.Cart.Total MX</p>
            </div>
            <form asp-controller="Cart" asp-action="SuccessWithPaypal" method="post" style="display: flex; justify-content: center; align-content: center;">
                <input type="hidden" name="total" value="@Model.Cart.Total" />
                <button type="submit" class="global-button">Comprar</button>
            </form>

        </div>
    </div>
}

@section scripts {
    <script src="~/js/site.js"></script>
}