@model Tienda_Online.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Details - @Model.ProductName</a>
</div>
<section class="page-center">
    <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@Model.IdProduct"
                                class="table-image">
                                <img src="~/img/product-@Model.ProductImage"
                                    alt="Product Image @Model.ProductName">
                            </a>
                        </td>
                        <td>@Model.ProductName</td>
                        <td>@Model.ProductDescription</td>
                        <td>@Model.Stock</td>
                        <td>@Model.ProductPrice.ToString("C")</td>
                    </tr>
            </tbody>
        </table>
</section>
<div class="form-page">
    <a asp-action="Edit" asp-route-id="@Model?.IdProduct" class="global-button">Edit</a>
    <a asp-action="Index" class="global-button">Back to List</a>
</div>
