@model IEnumerable<Tienda_Online.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Products</a>
</div>
<section class="page">
    <a asp-action="Create" class="global-button">Create New</a>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
